<div class="header">
  <div class="h-[90px] grid grid-cols-1 place-items-center"><h1 class="text-5xl font-bold">Reader</h1></div>
  <nav class="flex flex-wrap flex-row gap-4 mx-4 min-h-[24px]">
    <ng-container *ngIf="favSubreddits$ | async as favSubreddits">
      <a *ngFor="let favSubreddit of favSubreddits; trackBy: trackById; index as i"
        [routerLink]="['r', favSubreddit.name]" routerLinkActive="text-fountainblue" [routerLinkActiveOptions]="{exact: true}"
        class="link">r/{{ favSubreddit.name }}</a>
    </ng-container>
  </nav>
</div>
<!-- link-accent -->
