<div class="wrapper">
  <app-header></app-header>
  <div class="main flex flex-row">
    <div class="shrink-0 w-10 bg-suzumecha-light flex flex-col place-items-center gap-4 py-4 rounded-l-lg">
      <a [routerLink]="['.']"><i class="material-icons hover:text-suzumecha-extra-light">home</i></a>
      <a [routerLink]="['fav', 'subreddits']"><i class="material-icons hover:text-suzumecha-extra-light">collections_bookmark</i></a>
      <a [routerLink]="['fav', 'posts']"><i class="material-icons hover:text-suzumecha-extra-light">library_books</i></a>
      <!-- <a [routerLink]="['about']"><i class="material-icons hover:text-suzumecha-extra-light">info_outline</i></a> -->
      <app-dropdown></app-dropdown>
    </div>
    <ng-container *ngIf="showContent; else notShowContent">
      <div class="shrink-0 w-96 bg-suzumecha-light"><router-outlet></router-outlet></div>
      <div class="flex-auto bg-suzumecha-light"><router-outlet name="content"></router-outlet></div>
    </ng-container>
  </div>
  <app-footer></app-footer>
</div>

<ng-template #notShowContent>
  <div class="flex-auto bg-suzumecha-light"><router-outlet></router-outlet></div>
</ng-template>
