<div class="bg-white border-2 border-suzumecha font-serif rounded-lg">
<ng-container *ngIf="post && post.title !== '(post not found)'; else default">
  <div id="post" class="flex flex-row py-4">
    <div id="score" class="shrink-0 w-14 min-w-fit text-center"><p class="font-bold">{{ post?.score }}</p></div>

    <div class="flex-auto">

      <p><a [routerLink]="['r', post.subreddit]">r/{{ post.subreddit }}</a></p>
      <p>{{ post.author }}<span class="mx-4">{{ post.created+'000' | date: 'medium' }}</span></p>
      <div class="flex flex-row items-center">
        <h4 id="post-title" class="text-lg font-bold my-4">{{ post.title | decodeHTMLEntities }}</h4>
        <!-- <button class="btn btn-ghost"><i class="material-icons">bookmark_outline</i></button> -->
        <app-fav-post-button [post]="post"></app-fav-post-button>
      </div>

      <div id="post-content" class="">
        <div *ngIf="post.selftext" [innerHTML]="post.selftext | markdown"></div>
        <p *ngIf="post.url && !isPic(post.url) && shouldShowUrl(post)"><a [href]="post.url" target="_blank" [innerHTML]="post.url | decodeHTMLEntities" class="link"></a></p>
        <div *ngIf="post.url && isPic(post.url)"><img [src]="post.url" alt="post.url" style="max-width: 40em" /></div>
      </div>

      <div id="post-permanlink" class="my-4">
        <a [href]="'https://www.reddit.com'+post.permalink" target="_blank" class="link">permanlink</a>
      </div>

    </div>

  </div>

  <div id="replies" class="grid grid-cols-1 divide-y divide-blue-700 divide-none">
    <div class="mx-4 my-4">Replies ({{ post.replies.length }})</div>
    <ng-container *ngFor="let reply of post.replies | paginate: { itemsPerPage: 10, currentPage: page, totalItems: post.replies.length }; index as i; trackBy: trackById">
      <app-reply-row [reply]="reply" [isOP]="reply.author === post.author"></app-reply-row>
    </ng-container>
    <div id="replies-pagination" class="pt-4 text-center"><pagination-controls (pageChange)="page=$event"></pagination-controls></div>
  </div>

</ng-container>
</div>

<ng-template #default>
  <div class="mx-4 my-4">
    <p>nothing is here</p>
    <button type="button" (click)="goBack()">back</button>
  </div>
</ng-template>
