<div class="dropdown dropdown-right">
  <label tabindex="0" class=""><i class="material-icons hover:text-suzumecha-extra-light">info_outline</i></label>
  <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-60">
    <li><label class="btn btn-ghost w-full">import fav subreddits <input type="file" appPersistentStorageImport key="fav-subreddits" /></label></li>
    <li><a appPersistentStorageExport key="fav-subreddits" href="#" class="link btn btn-ghost w-full">export fav subreddits</a></li>
    <li><label class="btn btn-ghost w-full">import fav posts <input type="file" appPersistentStorageImport key="fav-subreddits" /></label></li>
    <li><a appPersistentStorageExport key="fav-posts" href="#" class="link btn btn-ghost w-full">export fav posts</a></li>
    <li><a class="btn btn-ghost w-full" (click)="onClearData()">clear data</a></li>
    <li><hr /></li>
    <li><button (click)="toggleModal()" class="btn btn-ghost w-full">about</button></li>
  </ul>
</div>

<ng-container *ngIf="
[
  { name: 'Tailwind CSS', url: 'https://www.npmjs.com/package/tailwindcss' },
  { name: 'daisyUI', url: 'https://www.npmjs.com/package/daisyui' },
  { name: 'Material Icons - Google Fonts', url: 'https://fonts.google.com/icons' },
  { name: 'ngx-pagination', url: 'https://www.npmjs.com/package/ngx-pagination' },
] as thirdPartyLibraries
">
<app-modal [show]="showModal" [closeCallback]="toggleModal">
  <div class="m-4 mr-12">
    <h4 class="text-2xl my-4">3rd-party libraries 📘</h4>
    <ul class="grid grid-cols-1 gap-2">
      <li *ngFor="let lib of thirdPartyLibraries"><a [href]="lib.url" target="_blank" rel="noreferrer noopener nofollow" class="text-base">{{ lib.name }}</a></li>
    </ul>
  </div>
</app-modal>
</ng-container>
